@import url("utils.css");
@import url("style.css");
@import url("responsive.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: oswald;
}

a {
  text-decoration: none;
  color: inherit;
}
